@{ 
    ViewBag.Title = "Listagem de Ônibus";
}


<h2>@ViewBag.Title</h2>

<table class="table">
    <thead class="thead-light"> 
        <tr>
            <th>Prefixo do Ônibus</th>
            <th>Quantidade de Lugares</th>
            <th>Linha</th>
            <th>Empresa</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Prefixo</td>
            <td>@item.Quantidade_Lugares</td>
            <td>@item.Linha</td>
            <td>@item.Empresa</td>


        </tr>

        }
    </tbody>

</table>