@model  IEnumerable<Buses>

@{ 
    ViewBag.Title = "Listagem de Ônibus";
}


<h2>@ViewBag.Title</h2>




<table class="table">
    <thead class="thead-light"> 
        <tr>
            <th>Prefixo do Ônibus</th>
            <th>Quantidade de Lugares</th>
            <th>Linha</th>
            <th>Empresa</th>
            <th>Data Criação</th>
            <th>Id</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Prefixo</td>
            <td>@item.Quantidadelugares</td>
            <td>@item.Linha</td>
            <td>@item.Empresa</td>
            <td>@item.DataCriacao</td>
            <td>@item.Id</td>

        </tr>

        }
    </tbody>


</table>

<br />
<br />
<div>
    <p align="right">
    <a class="btn btn-outline-success" href="@Url.Action("AddEdit")">Adicionar Ônibus</a>
    </p>
</div>