@{ 
    ViewBag.Title = "Listagem de Produtos";
}


<h2>@ViewBag.Title</h2>

<table class="table">
    <thead class="thead-light"> 
        <tr>
            <th>Nome do produto</th>
            <th>Preço</th>
            <th>Setor</th>
            <th>Quantidade</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Preco</td>
            <td>@item.Setor</td>
            <td>@item.Quantidade</td>


        </tr>

        }
    </tbody>

</table>