@model AvaliationsIndexVM
@{
    ViewBag.Title = "Avaliações dos Ônibus";
}

<h2>@ViewBag.Title</h2>


<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Prefixo do ônibus</th>
            <th>Espaço</th>
            <th>Barulho</th>
            <th>Balanco</th>
            <th>Ar Condicionado</th>
            <th>Conforto</th>
            <th>Tem Wifi?</th>



        </tr>
    </thead>
    <tbody>
        
            @{

                
                
           
                foreach (Buses bus in Model.Buses)

                {

                    foreach (Avaliation av in Model.Avaliation)
                    {


                        if (bus.Id == av.BusId)
                        {
                            <tr>
                                <td>@bus.Prefixo</td>
                                <td>@av.Space</td>
                                <td>@av.Barulho</td>
                                <td>@av.Balanco</td>
                                <td>@av.ArCond</td>
                                <td>@av.Conforto</td>
                                @if (av.TemWifi == 0)
                                {
                                <td>NÃO</td>
                                }
                                else
                                {
                                <td>SIM</td>
                                }
                            </tr>
                        }


                    }

                }

            }


        
        
</tbody>


</table>

@section  scripts{ 



}