<!DOCTYPE html>

<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Projeto Daniel | @ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/node_modules/toastr/build/toastr.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <!-- Bootstrap core CSS -->


</head>
<body class="d-flex flex-column h-100">

    @Html.Partial("_menu")


    <div class="container">
        @RenderBody()
    </div>  



    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Test Project | @DateTime.Now.DayOfWeek</span>
        </div>
    </footer>

    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/node_modules/toastr/build/toastr.min.js"></script>
    @RenderSection("scripts", false)

</body>
</html>
